
<div class="tabs tabs-icon-up tabs-route row row-bottom" ng-controller="SecondaryMenuController" >
  <a class="tab-item" ng-click="toggleTT('bus');">
    <i class="icon ion-android-bus" ></i>
    Bus
  </a>
  <a class="tab-item" ng-click="toggleTT('tram');">
    <i class="icon ion-android-train"></i>
    Tramvai
  </a>
  <a class="tab-item" ng-click="toggleTT('bicycle');">
    <i class="icon ion-android-bicycle"></i>
    Biciclete
  </a>
  <a class="tab-item" ng-click="toggleTT('boat');">
    <i class="icon ion-android-boat"></i>
    Barcă
  </a>
</div>
