<ion-view view-title="Route">
 <!-- <div style="height:100%"> -->
  <ion-content>

  <div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-bus"></i>
    16
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-bus"></i>
    17
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-bus"></i>
    11

  </a>
</div>

  	<!-- <p>shng sgfhsonsdf ndgfon jndrogs idg sslkngs gjsndongms dgksndfkvn </p>  -->


  </ion-content>
	<!-- </div> -->
</ion-view>
