<ion-view view-title="Route">
 <!-- <div style="height:100%"> -->
  <ion-content>
  	 
  <div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-bus"></i>
    16
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-bus"></i>
    17
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-bus"></i>
    11
   
  </a>
</div>

  	<!-- <p>shng sgfhsonsdf ndgfon jndrogs idg sslkngs gjsndongms dgksndfkvn </p>  -->

<div class="tabs tabs-icon-up tabs-route row row-bottom" >
	  <a class="tab-item">
	    <i class="icon ion-android-bus"></i>
	    Bus
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-android-train"></i>
	    Tramvai
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-android-bicycle"></i>
	    Biciclete
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-android-boat"></i>
	    Barcă
	  </a>
</div>


  </ion-content>
	<!-- </div> -->
</ion-view>
