<ion-view view-title="Map">
  <ion-content class="padding">
    <ui-gmap-google-map
      center="map.center"
      zoom="map.zoom"
      events="{click: mapClick}"
      draggable="true" >

      <ui-gmap-markers
        models="randomMarkers"
        coords="'self'"
        icon="'icon'"
        click="markerClick"
        labelVisible="true">
        <ui-gmap-windows
          show="show1()"
          closeClick="closeClick()">
          <div ng-non-bindable
          >{{title}}</div>
        </ui-gmap-windows>
      </ui-gmap-markers>

    </ui-gmap-google-map>
  </ion-content>
</ion-view>
