/*header*/
.bar-stable .nav-bar-block ion-header-bar {
	background:#E62739;
}

.bar.bar-stable .title {
	color:#ddd;
	padding-left:10px;
	font-weight: 100;
	font-family:"Open Sans";
}

/*logo header */
.logoHeader {
	display:inline; 
	position:absolute; 
	right:0px; 
	z-index:100; 
	padding:6px;
}
/* navigarea principala */
.tabs-top.tabs-striped .tab-item.tab-item-active, 
.tabs-top.tabs-striped .tab-item.active, 
.tabs-top.tabs-striped .tab-item.activated {
	border-width:0px !important;
}
.view-container .tabs-icon-top .tab-nav {
	padding-top:6px;
	padding-bottom:6px;
	height: 57px;
}

/*navigare secundara */

.tabs-route {
	padding:0px;
}
.tabs-route a.tab-item{
	background:#ddd;
	
}
.tabs-route .icon{
	color:555;
}
.tabs-route a.bus:active{
	background:#e62739;
	color:white;
}
.tabs-route a.train:active{
	background:#555555;
	color:white;
}
.tabs-route a.bicycle:active{
	background:#8a65c5;
	color:white;
}
.tabs-route a.boat:active{
	background:#6ed3cf;
	color:white;
}



