/* Empty. Add your own CSS if you like */


.labelClass {
  padding-top:29px;
  padding-left:2px;
  color:#000;
  font-family: 'open_sansregular';
  height:61px;
  width:37px;
  font-size:9px;
  line-height: 12px;
}

ionic-content.view{
  bottom: 50px;
}
